<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/output.css">
</head>
<body class="min-h-screen bg-linear-to-r from-[var(--gradient-start)] to-[var(--gradient-end)]">
  <div class="container flex flex-col lg:flex-row min-h-screen px-4">
    <div class="left-section w-full lg:w-1/2 p-4 overflow-x-auto">
      <div class="search-container flex items-center w-full gap-2 bg-white px-4 py-2 rounded-xl mb-5">
        <form action="/search" method="GET" class="flex flex-grow items-center w-full lg:w-1/2 gap-2">
          <input type="search" id="search-input" class="flex-grow border border-solid border-color rounded-sm placeholder:text-gray-500 px-1 " name="query" placeholder="Search for tasks">
          <button type="submit" class="bg-[url('/assets/search.svg')] bg-no-repeat bg-center rounded-sm w-8 h-8 bg-[var(--button-color)] mx-2 cursor-pointer"></button>
        </form>
        <button class="switch-mode bg-[url('/assets/darkTheam.svg')] bg-no-repeat bg-center rounded-sm w-8 h-8 bg-[var(--button-color)] cursor-pointer" alt></button>
      </div>
      <div class="todays-tasks flex flex-col w-full gap-2 bg-white rounded-xl py-2">
        <div class="tasks-header flex justify-between items-center px-4">
          <p class="text-lg">Todays tasks</p>
          <p class="js-date text-lg"></p>
        </div>
        <div class="display-tasks">
          <div class="task flex flex-col mx-4 pb-2.5 border-gray-400 border-b-1">
            <div class=" flex justify-between pb-1.5"><!--Add classes to understand what is what -->
              <p class="text-xl">Finish homework</p>
              <img src="/assets/Frame 38.svg" alt=""><!--Change name of the image-->
            </div>
            <div class="flex justify-between">
              <p class="text-base">Finish untill: 18:45pm</p>
              <div class="buttons flex items-center gap-2">
                <button class="bg-[url('/assets/edit.svg')] w-8 h-8 bg-center bg-no-repeat rounded-sm bg-[var(--button-color)] cursor-pointer"></button>
                <button class="bg-[url('/assets/finish.svg')] w-8 h-8 bg-center bg-no-repeat rounded-sm bg-[var(--button-color)] cursor-pointer"></button>
                <button class="bg-[url('/assets/delete.svg')] w-8 h-8 bg-center bg-no-repeat rounded-sm bg-[var(--button-color)] cursor-pointer"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-section"></div>
  </div>
  <script src="/js/main.js" type="module"></script>
</body>
</html>