@import "tailwindcss";

:root{
  --gradient-start: #BD5CF4; 
  --gradient-end: #9255F0; 
  --button-color: #8052EC;
  --success-color: #28a745;
  --danger-color: #dc3545;

}

.border-color {
  border-color: #C3C5C7;
}

.sub-text {
  color: #6B6B6B;
}