@import "tailwindcss";

:root{
  --gradient-start: #BD5CF4; 
  --gradient-end: #9255F0; 
  --button-color: #8052EC;
  --button-hover-color: #5A297F;
  --input-border: #C3C5C7;
  --placeholder-text: #6B6B6B;

  --success-color: #28a745;
  --danger-color: #dc3545;

  --text-color: #000000;
  --box-color: #FFFFFF;

  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --shadow-blur: 6px;
  --shadow-spred:0px;
  --shadow-color: rgba(0, 0, 0, 0.25);

  --transiton-duration: 0.4s;
}
.dark {
  --gradient-start: #28153B; 
  --gradient-end: #5A3579;
  --box-bg-color:  #222222;
  --button-color: #5A297F;
  --button-hover-color: #8052EC;
  --input-border: #C3C5C7;
  --placeholder-text: #6B6B6B;

  --success-color: #28a745;
  --danger-color: #dc3545;

  --text-color: #ffffff;
  --box-color: #222222;

  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --shadow-blur: 6px;
  --shadow-spred:0px;
  --shadow-color: rgba(255, 255, 255, 0.25);

  color: #ffffff;
}

.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown__options div {
  padding: 4px 8px;
  cursor: pointer;
}

.dropdown__options div:hover{
  background-color: rgb(221, 221, 221);
}

/* styling for inputs */
.input-base {
  display: flex;
  box-shadow: 0px,2px,6px,0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 6px;
}

.input-base::placeholder {
  color: #6B6B6B;
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  transition: background-color 300ms ease-in-out;
}

button:hover {
  background-color: var(--button-hover-color);
}
